<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Producto</title>
    <!-- Incluye el CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="../estilos/estilos_crud.css">

    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/213d716d32.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
</head>

<body>
    <br><br><br><br><br>
    <h1><strong>Consultar Productos</strong></h1><br>
    <div id="app">
        <form @submit.prevent="consultarProducto"> 
            <label for="codigo">Código:</label> 
            <input type="text" v-model="codigo" required><br> 
            
            <button type="submit">Consultar Producto</button> <a href="gestion_prd.html">Menu principal</a>
        </form>
         <br><br><br>
        <div v-if="mostrarDatosProducto">
            <h2><strong>Datos del Producto</strong></h2>
            <div class="contenedor-centrado">
            <ul>
                <li><strong>Código:</strong> {{ codigo }}</li>
                <li><strong>Nombre:</strong> {{ nombre }}</li>
                <li><strong>Descripción:</strong> {{ descripcion }}</li>
                <li><strong>Precio:</strong> {{ precio }}</li>&nbsp &nbsp
                <li v-if="imagen"><strong>Imagen:</strong> <img :src="'../static/imag/' + imagen" alt="Imagen del producto" style="max-width: 200px;"></li>
            </ul>
        </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="../js/consultas.js"></script>

</body>
</html>
