<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
  
    <link rel="stylesheet" href="../estilos/estilos.css">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/213d716d32.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
</head>
<body>
    <header id="idheader"></header>
  
<div class="container mt-5">
    <h1 class="mb-4">Gestión de Productos</h1>

    <!-- Botones para mostrar los formularios -->
    <button type="button" style= "color:black; background: #ccb3eb; border:none"><a href="agregar_prd.html">Agregar Producto</a></button>
    <button type="button" style= "color:black; background: #ccb3eb; border:none">Consultar Producto</button>
    <button type="button" style= "color:black; background: #ccb3eb; border:none"><a href="modificar_prd.html">Modificar Producto</a></button>
    <button type="button" style= "color:black; background: #ccb3eb; border:none"><a href="eliminar_prd.html">Eliminar Producto</a></button>
    <button type="button" style= "color:black; background: #ccb3eb; border:none"><a href="listado_prd.html">Listado de Productos</a></button>
    <button type="button" style= "color:black; background: #ccb3eb; border:none"><a href="../index.html">Página Principal</a></button>

</div>
</body>
<footer id="idfooter"> </footer>
<script src="js/script.js"></script>
</html>
