<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
    <!-- Incluye el CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="../estilos/estilos_crud.css">

    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/213d716d32.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
</head>

<body>
    <div class="top-bar"></div>
    <nav class="navbar">
        <img src="../images/logo.svg" alt="Garage Sale" title="Garage Sale" class="logo">
        <h1 class="contenedor-centrado"><strong>Listado de Productos</strong></h1>
    </nav>

    <br>

    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th align="right">Precio</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody id="tablaProductos"> </tbody>
    </table>
    <br>
    <div class="contenedor-centrado"> <a href="gestion_prd.html">Menu principal</a> 
    </div>

 <script src="../js/listado.js"></script>
</body>
</html>