/* Estilos generales */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logo {
    margin-left: 1%;
    max-width: 15.625em;
}

.container {
    max-width: 75em;
    margin: 0 auto;
    padding: 0 2%;
}

/* Estilos de la navegación */
.top-bar {
    width: 100%;
    height: 3.125em;
    background-color: #643e91;
    color: #ffffff;
    text-align: center;
    font-size: small;
    padding: 1% 0;
}

.navbar {
    background-color: #f8f6f6;
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Estilos del MENU HAMBURGUESA */
.menu-toggle {
    display: none;
}
.menu-icon {
    font-size: 1.875em;
    cursor: pointer;
    color:#643e91;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
    margin-right: 1.25em;
}

.menu a {
    text-decoration: none;
    color: black;
}
/* Menú normal en pantallas más grandes */
@media screen and (min-width: 970px) {
    .menu-toggle {
        display: none;
    }
    .menu-icon {
        display: none;
    }
    .menu {
        display: block;
    }
}

/* Menú hamburguesa en pantallas más chicas */
@media screen and (max-width: 969px) {
    .menu {
        display: none;
    }
    .menu-toggle:checked + .menu-icon + .menu {
        display: block;
        background-color: #e0c8fc;
        position: absolute;
        top: 3.75em;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1;
    }
    .menu li {
        display: block;
        margin-bottom: 0.625em;
    }
	    /* Color base de los enlaces en el menú hamburguesa */
    .menu-toggle:checked + .menu-icon + .menu li a {
        color: #643e91;
    }
    /* Cambia el color cuando el usuario pasa el cursor sobre los enlaces */
    .menu-toggle:checked + .menu-icon + .menu li a:hover {
        color: orange;
    }
    
    /* Cambia el color cuando los enlaces están seleccionados (clic en ellos) */
    .menu-toggle:checked + .menu-icon + .menu li a:active,
    .menu-toggle:checked + .menu-icon + .menu li a:focus {
        color: orange;
    }
 }

/*hamburguesa hasta aca*/

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    color: #464646;
    font-size: 0.875em;
}

.menu a:hover {
    color: orange;
}

/* Estilos de los iconos de navegación */
.nav-icons {
    display: flex;
    align-items: center;
    padding-right: 2em;
}

.search-button,
.login-button {
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
    /* Espacio entre los iconos */
    margin-left: 0.625em;
}

.login-button i.fa-user {
    color: black;
}

.login-button:hover i.fa-user {
    color: orange;
}

.fa-cart-shopping:hover {
    color: orange;
}

.fa-magnifying-glass:hover {
    color: orange;
}

.cart {
    display: flex;
    align-items: center;
    /* Espacio entre el carrito y otros iconos */
    margin-left: 0.625em;
}

.cart-icon {
    font-size: 1.4em;
    margin-right: 0.2em;
}

.imagen_contenedor {
    position: relative;
    opacity: 0.8;
    max-height: 25em;
    overflow: hidden;
}

.texto {
    color: #702f70;
    padding: 0%;
    position: absolute;
    top: 15%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.texto h3 {
    font-weight: 900;
    font-size: 2em;
}

.somos {
    text-align: justify;
    margin: 5em 10em;
    color: #611061;
}

.somos p b {
    color: #611061;
}

/* Animaciones */
@keyframes in_izq {
    from {left: -50px; opacity: 0;}
    to {left: 0px;opacity: 1;}        
}

/*BLOQUE CATEGORIAS*/
.container_categorias { padding: 30px;}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* Crea columnas de tamaño mínimo de 300px */
    gap: 3%;
}

.card {
    flex: 50%;
    margin: 2%;
    border: 1px solid rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    padding: 1% 5% 5% 5%;
    min-width: 300px;
    margin-top: 10%;
}
.card img {
    position: relative;
    animation:in_izq 1s;
}

.btn {
    background: #643e91;
    padding: 1% 5%;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
}

/*FOOTER*/

footer {
    width: 100%;
    background-size: cover;
    background-color: #e0c8fc;

}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 75em;
    margin: auto;
    margin-top: 6.25em;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 2.5em;
}

.box__footer .logo img {
    width: 11.25em;
}

.box__footer .terms {
    max-width: 21.875em;
    margin-top: 1.25em;
    color: #7a7a7a;
    font-size: 0.938em;
    line-height: 1.563em;
    font-family: 'Poppins', sans-serif;
}

.box__footer h2 {
    margin-bottom: 1.875em;
    color: #643e91;
    font-weight: 500;
}

.box__footer a {
    margin-top: 0.625em;
    color: #7a7a7a;
    font-weight: 400;
    text-decoration: none;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 1.25em;
}

.box__copyright {
    height: 4.375em;
    margin: auto;
    text-align: center;
    padding: 0em 2.5em;
}

.box__copyright p {
    margin-top: 1.25em;
    color: #7a7a7a;
}

.box__copyright hr {
    border: none;
    height: 0.063em;
    background-color: #c7b1b1;
}

/*FORMULARIO DE CONTACTO */
#contacto {
    text-align: center;
    margin: 3em auto;
}

.contactame {
    background-color: #f8f6f6;
    padding: 2em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.campo {
    margin: 1em;
}

.campo input[type="email"],
.campo input[type="phone"],
.campo textarea {
    width: 70%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.campo textarea {
    resize: vertical;
}

.campo button[type="submit"] {
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.campo button[type="submit"]:hover {
    background-color: orange;
}

/*LOGIN*/
/* Contenedor del formulario de inicio de sesión */
.login-container {
    background-color: #ffffff;
    max-width: 40%;
    margin: 0 auto;
    padding: 2% 4%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
    margin-top: 10%;
}

/* Título del formulario */
.login-container h2 {
    font-size: 2vw;
    color: rgb(133, 31, 133);
}

/* Grupo de entrada de texto y etiqueta */
.input-group {
    margin-bottom: 4%;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 4%;
    font-weight: bold;
    color: #333333;
}

.input-group input[type="text"],
.input-group input[type="password"] {
    width: 90%;
    padding: 3%;
    border: 1px solid #cccccc;
}

/* Estilo cuando el campo de entrada está enfocado */
.input-group input[type="text"]:focus,
.input-group input[type="password"]:focus {
    border: 1px solid orange;
    outline: none;
    /* Esto elimina el contorno predeterminado del navegador */
}

/* Botón de inicio de sesión */
.login-button {
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s;
}

.login-button:hover {
    color: #FFA500;
}

/*Contenedor del botón de cierre*/
.close-button-container {
    position: relative;
}

/* Botón de cierre */
.close-button {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6em;
    cursor: pointer;
    color: #333333;
}

.close-button:hover {
    color: orange;
    /* Cambia el color al pasar el mouse */
}

/*PARA CELULARES*/
@media screen and (max-width: 450px) {
    .navbar img {
        width: 30%;
    }

    .somos {
        margin: 2em;
    }

    .nav-icons {
        align-items: end;
        font-size: .8em;
    }

    .search-button,
    .login-button {
        border: none;
        font-size: 1em;
        cursor: pointer;
        margin-left: 0.625em;
    }

    .cart {
        display: flex;
        align-items: center;
        margin-left: 0.625em;
    }

    .cart-icon {
        font-size: 1.5em;
        margin-right: 0.2em;
    }

    .imagen_contenedor {
        height: 20em;
    }

    .texto {
        margin-top: 1em;
        margin-left: 15em;
        margin-bottom: 10em;
    }

    .texto {
        padding: 0%;
        position: absolute;
        top: 23%;
        left: -30%;
        transform: translate(-30%, -50%);
    }

    .texto h3 {
        font-weight: 900;
        font-size: 1.3em;
    }

    /*BLOQUE CATEGORIAS*/
    .cards {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        /* Crea columnas de tamaño mínimo de 300px */
    }

    .card {
        min-width: 200px;
    }

    /*LOGIN*/
    .login-container {
        max-width: 80%;
        margin-top: 30%;
    }

    .login-container h2 {
        font-size: 6vw;
    }
    .container__footer {
        margin-top: 21.25em;
    }
}

/*PARA TABLETS*/
@media screen and (min-width: 451px) and (max-width: 768px) {
    .navbar img {
        width: 40%;
    }
    
    .somos {
        text-align: justify;
        margin: 2em 3em;
    }

    .nav-icons {
        align-items: end;
    }

    .search-button,
    .login-button {
        border: none;
        font-size: 1em;
        cursor: pointer;
        margin-left: 0.625em;
    }

    .cart {
        display: flex;
        align-items: center;
        margin-left: 0.625em;
    }

    .cart-icon {
        font-size: 1.5em;
        margin-right: 0.2em;
    }

    .texto {
        padding: 0%;
        position: absolute;
        top: 39%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    .texto h3 {
        font-weight: 900;
        font-size: 1.5em;
    }

    .texto button {
        background-color: orange;
        margin-top: 2em;
    }

    /*BLOQUE CATEGORIAS*/
    .cards {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        /* Crea columnas de tamaño mínimo de 300px */
    }

    .card {
        min-width: 200px;
    }


    /*LOGIN*/
    .login-container {
        max-width: 60%;
        margin-top: 30%;
    }

    .login-container h2 {
        font-size: 5vw;
    }
}

/* esto es PRODUCTOS*/
/* Estructura de la cuadrícula de productos */
.producto-categorias {
    width: 18%;
    display: inline-block;
    margin-right: 1%;
}
.categoria-lista {
    list-style: none;
}
.producto-contenido {
    width: 80%;
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Crea columnas de tamaño mínimo de 200px */
    gap: 20px;
    /* Espacio entre los productos */
}

.producto {
    background-color: #fff;
    padding: 1.25em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    padding-bottom: 6.25em;
}

.product {
    text-align: center;
    color: #702f70;
}


/*para el titulo del producto*/
.producto h2 {
    font-size: 1.2rem;
    margin-top: 0.625em;
}

/*para el precio del producto*/
.producto span {
    font-weight: bold;
    color: #e44d26;
    /* Color de precio similar */
    font-size: 1rem;
    position: absolute;
    bottom: 4.063em;
    width: 100%;
    right: 1.25em;
    text-align: right;
}


/* Estilo para el ícono de WhatsApp */
.producto-icono-whatsapp {
    bottom: 1em;
    background-color: #4CAF50;
    color: #fff;
    padding: 3%;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 90%;
    margin-top: 5%;
    position: absolute;
    bottom: 1.25em;
    right: 1.25em;


}

.producto-icono-whatsapp:hover {
    background-color: #45A049;
}

/* Estilo para las imágenes pequeñas */
.imagenes-pequenas {
    display: flex;
    justify-content: center;
    gap: 0.625em;
    margin-top: 0.625em;
}

/*para la imagen*/
.imagen-principal {
    max-width: 100%;
    height: auto;
    width: 100%;
    transition: 0.3s ease;
    &:hover {   
        transform: scale(1.15);
    }
    }

.imagen-pequena {
    max-width: 50%;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: 0.2s ease;
    &:hover {   
        transform: scale(1.05);
    }
}
