/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

.logo {
    margin-left: 1%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

/* Estilos de la navegación */
.navbar {
    background-color: #f8f6f6;
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    color: black;
}

.menu a:hover {
    color: orange;
}

/* Estilos de los iconos de navegación */
.nav-icons {
    display: flex;
    align-items: center;
    padding-right: 2em;
}

.search-button,
.login-button {
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
    /* Espacio entre los iconos */
    margin-left: 0.625em;
}

.login-button i.fa-user{
    color: black; 
}

.login-button:hover i.fa-user {
    color: orange; 
}
.fa-cart-shopping:hover {
    color: orange;
}

.fa-magnifying-glass:hover {
    color: orange;
}

.cart {
    display: flex;
    align-items: center;
    /* Espacio entre el carrito y otros iconos */
    margin-left: 0.625em;
}

.cart-icon {
    font-size: 1.4em;
    margin-right: 0.2em;
}

.imagen_contenedor {
    position: relative;
    opacity: 0.8;
    margin: 0.5%;
}

.texto {
    color: #702f70;
    padding: 0%;
    position: absolute;
    top: 15%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.texto h3 {
    font-weight: 900;
    font-size: 2em;
}

.texto button {
    background-color: orange;
    margin-top: 2em;
}

.somos {
    text-align: justify;
    margin: 5em 10em;
    color: #611061;
}

.somos p b {
    color: 611061;
}

.footer {
    margin: 0.1% 1%;
    padding: 1%;
    background-color: #f8f6f6;
    box-shadow: 2px -2px 5px;
    position: sticky;
    bottom: 0;
}

footer p {
    text-align: center;
    font-size: small;
}

/*formulario de contacto */
#contacto {
    text-align: center;
    margin: 3em auto;
}

.contactame {
    background-color: #f8f6f6;
    padding: 2em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.campo {
    margin: 1em;
}

.campo input[type="email"],
.campo input[type="phone"],
.campo textarea {
    width: 70%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.campo textarea {
    resize: vertical;
}

.campo button[type="submit"] {
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.campo button[type="submit"]:hover {
    background-color: orange;
}

/*LOGIN*/
/* Contenedor del formulario de inicio de sesión */
.login-container {
    background-color: #ffffff;
    max-width: 20%;
    margin: 0 auto;
    padding: 2% 4%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
    margin-top: 10%;
}

/* Título del formulario */
.login-container h2 {
    font-size: 2vw;
    color: rgb(133, 31, 133);
}

/* Grupo de entrada de texto y etiqueta */
.input-group {
    margin-bottom: 4%;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 4%;
    font-weight: bold;
    color: #333333;
}

.input-group input[type="text"],
.input-group input[type="password"] {
    width: 90%;
    padding: 3%;
    border: 1px solid #cccccc;
}

/* Estilo cuando el campo de entrada está enfocado */
.input-group input[type="text"]:focus,
.input-group input[type="password"]:focus {
    border: 1px solid orange;
    outline: none;
    /* Esto elimina el contorno predeterminado del navegador */
}

/* Botón de inicio de sesión */
.login-button {
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s;
}

.login-button:hover {
    color: #FFA500;
}

/* Contenedor del botón de cierre */
.close-button-container {
    position: relative;
}

/* Botón de cierre */
.close-button {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6em;
    cursor: pointer;
    color: #333333;
}

.close-button:hover {
    color: orange;
    /* Cambia el color al pasar el mouse */
}

/*PARA CELULARES*/
@media screen and (max-width: 450px) {
    .navbar {
        display: grid;
        row-gap: 2em;
        justify-content: space-between;
    }

    .navbar img {
        width: 30%;
    }

    .menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .somos {
        text-align: justify;
        margin: 2em;
    }

    .nav-icons {
        display: flex;
        align-items: end;
        padding-right: 2em;
    }

    .search-button,
    .login-button {
        border: none;
        font-size: 1em;
        cursor: pointer;
        margin-left: 0.625em;
    }

    .cart {
        display: flex;
        align-items: center;
        margin-left: 0.625em;
    }

    .cart-icon {
        font-size: 1.5em;
        margin-right: 0.2em;
    }

    .imagen_contenedor {
        height: 20em;
    }

    .texto {
        margin-top: 1em;
        margin-left: 15em;
        margin-bottom: 10em;
    }

    .texto {
        color: black;
        padding: 0%;
        position: absolute;
        top: 45%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    .texto h3 {
        font-weight: 900;
        font-size: 1em;
    }

    .texto button {
        background-color: orange;
        margin-top: 2em;
    }

    /*LOGIN*/
    .login-container {
        background-color: #ffffff;
        max-width: 80%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        text-align: center;
        margin-top: 30%;
    }

    .login-container h2 {
        font-size: 6vw;
        color: rgb(133, 31, 133);
    }
}


/*PARA TABLETS*/
@media screen and (min-width: 451px) and (max-width: 768px) {
    .navbar {
        display: grid;
        justify-content: space-between;
    }

    .navbar img {
        width: 40%;
    }

    .menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-between;
    }

    .somos {
        text-align: justify;
        margin: 2em 3em;
    }

    .nav-icons {
        display: flex;
        align-items: end;
        padding-right: 2em;
    }

    .search-button,
    .login-button {
        border: none;
        font-size: 1em;
        cursor: pointer;
        margin-left: 0.625em;
    }

    .cart {
        display: flex;
        align-items: center;
        margin-left: 0.625em;
    }

    .cart-icon {
        font-size: 1.5em;
        margin-right: 0.2em;
    }

    .texto {
        color: black;
        padding: 0%;
        position: absolute;
        top: 39%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    .texto h3 {
        font-weight: 900;
        font-size: 1em;
    }

    .texto button {
        background-color: orange;
        margin-top: 2em;
    }

        /*LOGIN*/
        .login-container {
            background-color: #ffffff;
            max-width: 60%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            text-align: center;
            margin-top: 30%;
        }
    
        .login-container h2 {
            font-size: 5vw;
            color: rgb(133, 31, 133);
        }
}



/* esto es productos*/

/* Estructura de la cuadrícula de productos */
.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crea columnas de tamaño mínimo de 200px */
    gap: 20px; /* Espacio entre los productos */
  }

.producto {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .product{
    text-align: center;
    color: #702f70;
  }
  

/*para el titulo del producto*/
.producto h2 {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  /*para el precio del producto*/
  .producto span {
    font-weight: bold;
    color: #e44d26; /* Color de precio similar */
    font-size: 1rem;
  }


/* Estilo para el ícono de WhatsApp */
.producto-icono-whatsapp {
    bottom: 1em;
    background-color: #4CAF50;
    color: #fff;
    padding: 3%;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 90%;
    margin-top: 5%;
}

.producto-icono-whatsapp:hover {
    background-color: #45A049;
}

/* Estilo para las imágenes pequeñas */
.imagenes-pequenas {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
/*para la imagen*/
.imagen-principal {
    max-width: 100%;
    height: auto;
    width: 100%; 
  }
.imagen-pequena {
    max-width: 50%;
    cursor: pointer;
    border: 1px solid #ccc;
}



